@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Courgette&family=Maven+Pro&family=Nunito+Sans&family=Source+Sans+Pro&display=swap");

body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: clip;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

@tailwind base;

@tailwind components;

@tailwind utilities;


.typewriter {
  -webkit-background-clip: text;
  background-clip: text;
  background-color: #389bf8;
  -moz-transition: 300ms ease-in-out;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  transition-duration: 300ms;
  font-family: Nunito Sans;
}

.typewriter-hover {
  color: transparent;
  background-image: linear-gradient(to right, #38bdf8, #2563eb);
  -moz-transition: 300ms ease-in-out;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  transition-duration: 300ms;
}

.typewriter-2-hover {
  color: transparent;
  background-image: linear-gradient(to right, #38bdf8, #38bdf8);
  -moz-transition: 300ms ease-in-out;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  transition-duration: 300ms;
}
